/*goal: make a CV like a pdf file, stactic */

html {
    background-color:#000;
}
body { /*box behind*/
    width: 700px;
    height: 930px;
    background: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    margin: 0 auto;
    padding: 20px;
}
.content { /*inner box*/
    background-color: #fff;
    padding: 30px;
    outline: solid #000;
    height: 860px;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 200px;
    margin-top: 5px;
    margin-bottom: -50px;
    width: 500px;
}
img {
    height: 100px;
    float: right; 
    margin-top: 30px;
}
.address {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    margin-left: 85px;
}
.intro {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px; 
}
main {
    float: left;
    width: 370px;
    margin-left: 10px;
}
aside {
    float: right;
    width: 250px;
}
.experience, .education {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-bottom: 7px;
}
.otherskills, .proud {
    font-family: 'Luckiest Guy', cursive;
    font-size: 23px;
}
.filmtitle, .course, .where {
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
    font-size: 17px;
}
.where, .description { 
    margin-top: .5px;
}
.otherskills {
    margin-bottom: -20px;
    margin-top: 25px;
}
a {
    color: blue;
}
.proud{
    clear: both; 
    text-align: center;
    position: relative;
    top: 40px; 
    margin: 0 auto;
}