/*goal: make a CV like a pdf file, stactic */

html {
    background-color:#000;
}
body { /*box behind*/
    width: 700px;
    height: 940px;
    margin: 0 auto;
    border: 15px solid #fff;
    font-family: 'Abel', sans-serif;
    font-size: 21px;
}
div { /*inner box*/
    width: 640px;
    height: 880px;
    background-color: #fff;
    padding: 30px;
    outline: solid #000;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 200px;
    margin-top: 5px;
    margin-bottom: -50px;
    width: 500px;
}
img {
    height: 100px;
    float: right; 
    margin-top: 30px;
}

.address {
    font-size: 19px;
    font-weight: bolder;
    margin: 0;
    margin-left: 85px;
}
.intro {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px; 
}
main {
    float: left;
    width: 350px;
    margin-left: 15px;
}
aside {
    float: right;
    width: 230px;
}
.experience, .education {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-bottom: 7px;
}
.otherskills, .proud {
    font-family: 'Luckiest Guy', cursive;
    font-size: 23px;
}
.filmtitle, .course, .where {
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
    font-size: 17px;
}
.where, .description { 
    margin-top: .5px;
    /*it seems 'description' under EDUCATION isn't picking up...*/
}
.otherskills {
    margin-bottom: -20px;
    margin-top: 35px;
}
a {
    color: blue;
}
footer {
    width: inherit;
    text-align: center;
    position: absolute;
    top: 820px; /* stops it moving */
}